/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #eee !important;
}

.jumbotron {
  text-align: center;
  color: white;
  border-bottom: 1px solid #e5e5e5;
}

.banner {
  height: 350px;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 20%;
  min-width: 30%;
  background-image: url("../images/banner3.jpg");
  background-size: cover; 
}

.jumbotron2 {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
  	padding-bottom: 50px;
	text-align: center;
  	border-bottom: 1px solid #e5e5e5;
  	background-color: #fff;
}
